.active{
    background-color: rgb(151, 151, 249);
    color: white;
    padding: 5px 2px;
    text-align: center;
    text-decoration: none;
    border-radius: 20px;
}
a{
    text-decoration: none;
}